@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(185, 75%, 39%);
}

.img-bg-top {
  height: auto;
  position: absolute;
  top: -575px;
  left: -300px;
  z-index: -1;
}

.img-bg-bottom {
  height: auto;
  position: absolute;
  bottom: -575px;
  right: -300px;
  z-index: -1;
}

main {
  font-family: "Kumbh Sans", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-profile-card {
  width: 25%;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  line-height: 2;
  border-radius: 10px;
  box-shadow: 0px 0px 36px 6px rgba(0, 0, 0, 0.2);
}

.header {
  width: 100%;
  height: 35%;
  background-color: lightseagreen;
  background-image: url(images/bg-pattern-card.svg);
  background-size: cover;
  background-position: center;
}

.profile-photo {
  position: relative;
  top: 75px;
  border-radius: 50%;
  border: solid 5px #fff;
}

.container-info {
  margin-top: 65px;
}

.container-stats {
  list-style-type: none;
  margin: 20px 0px 0px 0px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px hsl(0, 0%, 79%);
}

h5 {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

h6,
p,
span {
  margin: 0px;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.attribution {
  margin-top: 8px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(229, 23%, 23%);
  padding-bottom: 4px;
  border-bottom: solid 2px transparent;
  transition-duration: 0.75s;
}

.attribution a:hover {
  border-color: hsl(229, 23%, 23%);
  text-transform: uppercase;
  
}

@media (max-width: 375px) {
  body {
    max-width: 100vw;
  }

  .img-bg-top {
    width: 275px;
    top: -100px;
    left: -0px;
  }

  .img-bg-bottom {
    width: 275px;
    bottom: -100px;
    right: 0px;
  }

  .container-profile-card {
    width: 90%;
  }
}
